VITE_APP_URL=http://localhost:5173
VITE_API_URL=http://localhost:3000
VITE_KEYCLOAK_CLIENT_ID=ota-ku-app
VITE_KEYCLOAK_REDIRECT_URI=http://localhost:5173/integrations/keycloak/callback
VITE_VAPID_PUBLIC_KEY=